body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
    padding: 40px;
    min-height: 100dvh;  
}
.list-start {
    font-weight: bold;
}
.header {
    padding: 40px;
    background-color: #002896;
}
.refresh{
    background-color: #0034c4;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}
.card{
    background-color: #cfcfcf;
}
h1 {
    color: #ffffff;
    margin: 20px auto;
}
li{
    max-height: 200px;
    margin: 5px;
}